{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="login-box">
    <!--<div class="row">
        <div class="col-md-4 col-md-offset-12">-->
            <h2>NUTRITION</h2>
            <h3>Admin Login</h3>
		<div class="col-sm-12 col-md-12">
			<div class="autocomplete">
            <form method=POST action="{{ url_for('login') }}">
                <div class="user-box">
                    
                    <!--<label for="exampleInputEmail1">Username</label>-->
                    <input type="email" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="user-box">
                    <!--<label for="exampleInputPassword1">Password</label>-->
                    <input type="password" class="form-control" name="pass" placeholder="Password" required>
                </div>
                <button type="submit" class="button">Log In</button>
            </form>
            <br>
            <div>
                Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
            </div>
        </br>
        <div>
            Customer Login..<a href="{{ url_for('customerindex') }}">Click here</a>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}